.bento_outer {
  /* transition: background-color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    border-color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); */
  cursor: pointer;

  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 0.1s;
}

.wrapper:hover {
  background-color: lighten(var(--background-color), 5%);
  border-color: var(--secondary-text-color);
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1em;
  border-radius: 24px;
  background: var(--foreground-color);
  color: var(--primary-text-color);
  /* transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 0.3s; */

  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 0.1s;
  border: 2px solid var(--accent-color);
}

.bento_title_wrapper {
  display: flex;
  align-items: center;
  margin-left: -5px;
}

.bento_title_wrapper p {
  font-size: 12px;
  font-weight: 500;
  margin-top: -5px;
  color: var(--secondary-text-color);
}
