.bento_outer {
  border-radius: 16px;
  padding: 1px;
  background: linear-gradient(128deg, rgba(143, 143, 143, 0.3) 0%, rgba(21, 21, 21, 0.3) 50%);
  transition: transform .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
}

.bento_outer:hover {
  transform: scale(1.02);
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;

  padding: 1em;
  border-radius: 16px;
  background: rgba(11, 11, 11, 0.9);
}
