.app_wrapper {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--primary-text-color);
  transition: all .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: .3s;
  position: relative;
}

.main {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  padding: 3em 2em;
}

.fadeOut {
  animation: fadeOut 2s ease forwards;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.fadeIn {
  animation: fadeIn 2s ease forwards;
  transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

