.content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content_wrapper p {
  color: #666666;
  font-weight: 400;
  font-size: 16px;
  margin-block: 1em;
}

.content_wrapper h3 {
  font-weight: 500;
  font-size: 30px;
}

.divider {
  padding: 10px;
  margin-block: 1.5em;
  position: relative;
}

.bar {
  border: 1px solid rgba(102, 102, 102, 0.2);
  width: 500px;
}

.divider_icon {
  position: absolute;
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--foreground-color);
}

.btn_group {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.email {
  border: 1px solid #666666;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 1em 1.5em;
  font-size: 14px;
  font-weight: 400;
}

.get_in_touch_btn {
  border: 1px solid #666666;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 1em 1.5em;
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-text-color);
  background: #fff;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.get_in_touch_btn:hover {
  outline: 2px solid var(--secondary-text-color);
  outline-offset: 1px;
}

.socials {
  margin-top: 4em;
}

.heading {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.list {
  display: flex;
  gap: 1.5em;
}

.list a {
  font-size: 14px !important;
  font-weight: 400;
  color: var(--primary-text-color);
  transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.list a:hover {
  color: var(--secondary-text-color);
}

/* Tablet view */
@media (max-width: 768px) {
  .bar {
    border: 1px solid rgba(102, 102, 102, 0.2);
    width: 250px;
  }

  .content_wrapper h3 {
    font-weight: 500;
    font-size: 20px;
  }

  .btn_group {
    width: 100%;
  }

  .get_in_touch_btn {
    width: max-content;
    margin-inline: auto;
  }
}

/* Mobile view */
@media (max-width: 480px) {
}
