.featured_project_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 0 auto;
  padding-block: 2em;
}

.featured_project_heading {
  width: 80%;
  font-size: 22px;
  font-weight: 600;
  line-height: 130%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  font-family: 'Noto Sans JP', sans-serif;
  color:#ccd6f6;
  margin-left: auto;
}

.featured_project_heading span:nth-child(1) {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  font-weight: 500;
  color: #6adcfa;
}

.featured_project_heading span:nth-child(2) {
  border-top: 1px solid rgba(128, 128, 128, .5);
  width: 40%;
}