.home_wrapper {
  display: flex;
  gap: 1em;
}

.left_group {
  width: 16.7%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 8em;
}

.middle_group {
  width: 50.1%;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.middle_group_bottom {
  display: flex;
  gap: 1em;
}

.mg_left {
  width: 40%;

  display: flex;
  flex-direction: column;
  margin-top: 1em;
  gap: 1em;
}

.mg_right {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.intro_text {
  padding: 2em 3em;
}

.subtitle {
  display: flex;
  align-items: center;
  margin-left: -8px;
}

.subtitle_text {
  margin-top: -5px;
  font-size: 18px;
  font-weight: 600;
  color: var(--secondary-text-color);
}

.title {
  font-size: 32px;
  font-weight: 600;
  line-height: 180%;
}

.right_group {
  width: 33.4%;
  display: flex;
  gap: 1em;
}

.rg_left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1.5em;
}

.rg_right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 6em;
}

.github_wrapper div {
  display: flex;
  align-items: center;
  gap: .5em;
  margin-bottom: .5em;
}

.arrow {
  position: absolute;
  top: 15px;
  right: 15px;
}

.github_icon {
  position: absolute;
  top: 42px;
  left: 40px;
}

.pub_repo {
  font-size: 12px;
  font-weight: 400;
}

.marker {
  position: absolute;
  top: 90px;
  left: 100px;
}

.socials_wrapper {
  display: flex;
  flex-direction: column;
  gap: .5em;
  margin-top: .5em;
}

.socials_wrapper a p{
  color: var(--primary-text-color);
  transition: color .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: .3s;
}

.socials_wrapper a:hover p{
  color: var(--secondary-text-color);
}

.social {
  display: flex;
  gap: .5em;
  align-items: center;
}

.social p {
  font-size: 13px;
  font-weight: 400;
  color: var(--primary-text-color);
}

.social:hover {
  color: var(--secondary-text-color);
}

.bag_icon {
  width: 100%;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about_me_heading {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.about_me_heading img{
  width: 150px;
}

.about_me_heading .name {
  font-size: 16px;
  font-weight: 500;
}

.about_me_heading .role {
  font-size: 14px;
  color: var(--secondary-text-color);
}

.about_me_text {
  margin-top: 2em;
  padding-inline: 1em;
}

.about_me_text h2{
  font-size: 32px;
  margin-bottom: 1em;
}

