:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "CapianBold";
  src: local("CapianBold"),
   url("./fonts/Capian-Bold.ttf") format("truetype");
  font-weight: bold;
 }

body {
  height: 100%;
  width: 100vw;
  background-color: #fdfdff;
  font-family: 'CapianBold';
}


.app {
  /* padding: 0 10em; */
  /* height: 100vh; */
  color: dimgray;
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  /* border: 1px solid red; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
  margin-top: 2em;
  padding-block: 1em;
  margin-inline: 160px;
}

.logo {
  display: flex;
  place-items: center;
  gap: 0.5em;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  /* width: 100%; */
  /* border: 1px solid red; */
  height: 100%;
  margin-inline: 160px;
  margin-block: 30px 60px;
}

.about {
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-block: 4em; */
  padding-left: 1em;
  height: 45vh;
}

.text {
  /* border: 1px solid red; */
  width: 50%;
}


.text h3 {
  font-size: 2.3rem;
  line-height: 3.5rem;
  /* border: 1px solid red; */
}

.text h4{
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin-block: .5em;
}

.text p{
  font-size: 1.3rem;
  line-height: 2rem;
}

/* .profile-pic {
  /* border: 1px solid green; */ 

.profile-pic img {
  width: 300px;
  transform: rotateY(180deg);
}

/* Skill set */
.skill-set {
  width: 100%;
  padding: 1em;
  /* height: 40vh; */
  /* border: 1px solid red; */
}

.skill-set-heading {
  border-bottom: 1px solid rgba(105, 105, 105, 0.5);
  padding-block: .5em;
  margin-bottom: 1em;
}

.skill-group {
  width: 100%;
  /* border: 1px solid red;  */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  margin-bottom: 2em;
}

.skill-group-title {
  padding-bottom: .5em;
}

.skill-item {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  gap: .5em;
  padding: 1em;
  border-radius: 8px;
  background: rgba(81, 107, 231, .1);
}

.skill-item span:first-child {
  /* border: 1px solid red; */
  border-radius: 4px;
  width: 30px;
  height: 30px;
  padding: .3em;
  background: rgba(106,220,250, .2);
}

.skill-item img {
  width: 100%;
  display: block;
}
/* Skill set */

/* Bento Grid */

.bento-wrapper {
  width: 100%;
  height: 100vh;
  border: 1px solid;
  padding: 50px;
}

.bento-container {
  border: 1px solid red;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.bento-item {
  border: 1px solid green;
}

/* Bento Grid */

.footer-wrapper {
  width: 100%;
  /* border: 1px solid red; */
  position: absolute;
  bottom: 0;
}

footer {
  height: 50px;
  border-top: 1px solid rgba(105, 105, 105, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: dimgrey;
  font-size: 12px;
  margin-inline: 160px;
}

.footer-link {
  color: #516be7;
}

/* splash screen */

.intro {
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100vh;
   background-color: #161616;
   transition: .7s ease;
}

.intro.fold {
  top: -100vh;
}

.splash-screen-logo-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  display: flex;
  gap: .3em;
}

.splash-screen-logo {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.splash-screen-logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out .5s;
}

.splash-screen-logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out .5s;
}
