:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  /* line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
    background-color: #fff;
    background-image:linear-gradient(#434343, #282828);
    position: relative;
    z-index: 1;
}

.app {
  padding: 2em 3em;
  height:100vh;
  background-color: #282828;
  opacity: 1;
  background-image: radial-gradient(rgba(101, 74, 7, .5) 0.25px, #282828 0.25px);
  background-size: 5px 5px;
  color: #f8db93;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

.logo {
  display: flex;
  place-items: center;
  gap: 0.5em;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme {
  margin-left: 1em;
}

/* .docker {
  border: 1px solid #000;
  border-radius: 40px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 8px 10px;
}

.docker-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-radius: 20px;
  gap: 0.5em;
} */



