.projects_wrapper {
  overflow: hidden;
  height: max-content;
  position: relative;
}

.projects_inner {
  height: max-content;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 3em 3em;
}